@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.background {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(https://w0.peakpx.com/wallpaper/107/369/HD-wallpaper-room-book-library-bookshelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: "Fasthand", cursive, serif;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 60%;
    height: 90%;
    background-color: #f5deb3e8;
    border: 0.5vw solid #555;
    border-radius: 4rem;
    box-shadow: 0 0 0.8rem #dfdfdf;
}

.display {
    width: 80%;
    height: 70%;
    border: 0.2vw solid #555;
    border-radius: 1rem;
    margin: 2rem;
    background-color: wheat;
    box-shadow: 0 0 0.6rem #555;
}

h1 {
    font-family: "Fasthand", cursive, serif;
    font-size: 3rem;
    margin: 2rem;
    padding: 0;
    line-height: 3rem;
}

button {
    width: clamp(100px, 10vw, 200px);
    height: clamp(30px, 3.3vw, 60px);
    background-color: #555;
    border-radius: 1.2rem;
    color: wheat;
    font-family: "Fasthand", cursive, serif;
    font-size: calc(6px + 1vw);
    line-height: calc(6px + 1vw);
    box-shadow: 0.15rem 0.15rem 0.3rem #555;
    transition: all 0.1s ease-in-out;
}

.actions.flex-center {
    flex-direction: row;
    gap: 3rem;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    background-color: #777;
    transform: scale(1.025);
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-content: flex-start;
    gap: 1rem;
    overflow: scroll;
}

.book {
    background-color: #eae5cd;
    border-radius: 1vw;
    height: 300px;
    margin: 1rem;
    color: #27221f;
}

.book>* {
    height: 20%;
    margin: 1vw;
}

.author::before {
    content: "Author: ";
}

.pages::before {
    content: "Pages: ";
}

.read::before {
    content: "Read: ";
}

h3 {
    font-size: calc(10px + 0.7vw);
    line-height: calc(10px + 0.7vw);
    margin: 0.5rem;
}

::before {
    font-family: serif;
}

p {
    margin: 0.5rem;
}

.hidden {
    transform: scale(0);
}

.visible {
    position: absolute;
    width: clamp(200px, 25%, 600px);
    height: clamp(300px, 35vw, 800px);
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vw;
    border: 0.4vw solid black;
    background-color: white;
    z-index: 10;
}

label {
    font-size: calc(10px + 0.7vw);
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
}

form {
    margin: 2vw;
    height: 80%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    pointer-events: none;
    opacity: 0;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

input {
    margin: 0.5rem 0.5rem;
    width: clamp(100px, calc(100% - 1.1rem), 400px);
    justify-self: center;
    border: 2px solid black;
    border-radius: 0.5vw;
    height: 2vw;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2vw;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    display: flex;
    justify-content: space-between;
}

.select > div > input {
    width: 1.5vw;
    height: 1.5vw;
}

legend {
    font-family: "Roboto Mono", monospace;
    font-size: calc(10px + 0.7vw);
}

form > button {
    margin: 1rem;
    text-align: center;
    width: max(60px, 8vw);
    height: max(25px, 3vw);
    font-family: "Roboto Mono", monospace;
    color: white;
    border-radius: 0.4vw;
    font-size: max(12px, 1vw);
}

.book-button {
    align-self: flex-start;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(10px + 0.2vw);
    width: calc(50px + 1.5vw);
    height: calc(20px + 1vw);
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    vertical-align: center;
}

.remove {
    background-color: red;
    margin-left: 1vw;
}

.remove:active {
    transform: scale(1.025);
    background-color: rgba(255, 0, 0, 0.8);
}

button[type="submit"]:disabled {
    background-color: #777;
}

button[type="submit"]:hover {
    transform: scale(1);
}

button[type="submit"]:active {
    transform: scale(1);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

